<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>購物計算機</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
<body>
  <div id="app" class="container mt-3">
    <h2>購物計算機</h2>
    <div class="form-floating">
      <input v-model="inputmoney" type="text" inputmode="decimal" class="form-control" id="inputmoney" placeholder="價錢">
      <label for="inputmoney">價錢</label>
    </div>
    <div class="form-floating my-3">
      <input v-model="inputg" type="text" inputmode="decimal" class="form-control" id="inputg" placeholder="重量,容量">
      <label for="inputg">重量,容量</label>
    </div>
    <div class="d-grid my-3">
      <button class="btn btn-success" @click="count()">計算</button>
    </div>

    <!-- 表格 -->
    <table class="table text-end table-bordered table-striped">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">價錢</th>
          <th scope="col">重量,容量</th>
          <th scope="col">每單位$</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="(item,idx) in history" :key="idx">
          <th scope="row">{{idx}}</th>
          <td>{{item.money}}</td>
          <td>{{item.g}}</td>
          <td>{{item.cp}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        inputmoney: '',
        inputg: '',
        history: [],
      },
      methods: {
        count() {
          let x = {
            money: this.inputmoney,
            g: this.inputg,
            cp: Math.round(this.inputmoney*100/this.inputg)/100,
          }
          this.history.push(x);
          this.inputmoney = '';
          this.inputg = '';
        }
      },
    })
  </script>
</body>
</html>