<!DOCTYPE html>
<!-- 【券村】 UTM 設定工具 (GA的來源媒介) -->
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <!-- VUE 加入 -->
  <script src="./JS/vue3.4.5.global.js"></script>
  <title>券村UTM設定</title>
  <style>
    .bg-lightblue{
      background-color: rgb(234, 247, 255);
    }
  </style>
</head>
<body>
  <div id="myapp" class="container mt-3">
    <h1 class="mb-3">券村UTM設定工具</h1>
    
    <div class="form-group">
      <label for="firstURL" class="text-primary"><b>原本URL</b></label>
      <input v-model="firstURL" type="text" class="form-control bg-lightblue" id="firstURL">
    </div>

    <div class="form-group">
      <label for="pipeline">管道</label>
      <select v-model="pipeline" class="form-control" id="pipeline" >
        <option value="facebook">社群(FB)</option>
        <option value="referral">推薦</option>
        <option value="paidAds">付費廣宣</option>
        <option value="other">其他</option>
      </select>
    </div>
    <div class="form-group">
      <label for="medium">媒介</label>
      <input v-model="medium" type="text" class="form-control" id="medium" :disabled="pipeline=='facebook' || pipeline=='referral' || pipeline=='paidAds' ">
      <p v-if="medium!='' && /\W/.test(medium)" class="text-danger">英文數字，不可有空格</p>
    </div>
    <div class="form-group">
      <label for="source">來源
      </label>
      <input v-model="source" type="text" class="form-control" id="source" :disabled="pipeline=='facebook'">
      <p v-if="source!='' && /\W/.test(source)" class="text-danger">英文數字，不可有空格</p>
    </div>
    <div class="form-group">
      <label for="campaign">廣告活動</label>
      <input v-model="campaign" type="text" class="form-control" id="campaign">
      <p v-if="campaign!='' && /\W/.test(campaign)" class="text-danger">英文數字，不可有空格</p>
    </div>
    <div class="form-group">
      <label for="utm_term">utm_term</label>
      <span class="ml-2">(選填)</span>
      <input v-model="utm_term" type="text" class="form-control" id="utm_term">
      <p v-if="utm_term!='' && /\W/.test(utm_term)" class="text-danger">英文數字，不可有空格</p>
    </div>
    
    <button @click="go()" class="btn btn-info my-2">產生連結</button>
    <div>
      {{newURL}}
    </div>
    <button @click="copy()" class="btn btn-info my-2">複製
    </button>
  </div>

  <script>
    const myapp = {
      data() {
        return {
          pipeline: '',
          medium: '',
          source: '',
          campaign: '',
          firstURL: '',
          newURL: '',
          utm_term: '',
        }
      },
      watch: {
        pipeline(newpipeline) {
          if(newpipeline == 'facebook') {
            this.medium = 'facebook';
            this.source = 'fb';
          }
          else if(newpipeline == 'referral') {
            this.medium = 'referral';
            this.source = '';
          }
          else if(newpipeline == 'paidAds') {
            this.medium = 'paidAds';
            this.source = '';
          }
        }
      },
      mounted() {
      },
      methods: {
        go() {
          if(this.firstURL == '') {
            alert('請輸入 原本URL');
            return
          }
          if(this.medium=='' || /\W/.test(this.medium)) {
            alert('媒介 必填，只能英數，不可空格');
            return
          }
          if(this.source=='' || /\W/.test(this.source)) {
            alert('來源  必填，只能英數，不可空格');
            return
          }
          if(this.campaign=='' || /\W/.test(this.campaign)) {
            alert('廣告活動 必填，只能英數，不可空格');
            return
          }
          let newURL = '';

          if(/\?/.test(this.firstURL)) {
            newURL = `${this.firstURL}&utm_medium=${this.medium}&utm_source=${this.source}&utm_campaign=${this.campaign}`;
          } else {
            newURL = `${this.firstURL}?utm_medium=${this.medium}&utm_source=${this.source}&utm_campaign=${this.campaign}`;
          }

          if(this.utm_term != '') {
            if(/\W/.test(this.utm_term)) {
              alert('utm_term 只能英數，不可空格');
              return
            }
            newURL = `${newURL}&utm_term=${this.utm_term}`
          }
          this.newURL = newURL;
        },
        copy() {
          navigator.clipboard.writeText(this.newURL)
        }
      },
    }
    Vue.createApp(myapp).mount('#myapp')
  </script>
</body>
</html>